<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="title:" content="Sandra Ntsoele: Website developer based in Sedibeng/Sebokeng Gauteng">

        <title>Sandra Ntsoele: Web developer based In Sedibeng</title>

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="css/iconic/css/material-design-iconic-font.css">
    </head>
    <body>

        <nav>
            <div style="display: flex">
                <div class="col-10" id="logo-container">
                    <a href="/" class="logo">
                        Sandra Ntso&ecirc;le
                    </a>
                </div>

                <!-- Menu icon for mobile devices -->
                <button id="menu-icon" class="col-2">
                    <i class="zmdi zmdi-hc-2x zmdi-menu"></i>
                </button>
            </div>

            <!-- Mobile menu links -->
            <div id="menu-links" class="col-12">
                <div>
                    <a>My Work</a>
                    <a>About Me</a>
                    <div style="display:flex">
                        <a href="https://github.com/hellosandra" target="_blank" style="padding:10px 20px;">
                            <i class="zmdi zmdi-github"></i>
                        </a>

                        <p style="margin: auto 0;">|</p>

                        <a href="https://twitter.com/sandraNtsoele" target="_blank" style="padding:10px 20px">
                            <i class="zmdi zmdi-twitter"></i>
                        </a>

                        <p style="margin: auto 0;">|</p>

                        <a href="mailto:sandrantsoele@protonmail.com?Subject=Hello%20Sandra" target="_top" style="padding:10px 20px">
                            <i class="zmdi zmdi-email"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>

        <main>
            {{{body}}}
        </main>

        <script src="/js/main.js" charset="utf-8"></script>

    </body>
</html>
