<section class="col-12">
    <div id="header">
        <div id="picture">
            <img src="/assets/images/myAvatar.svg" height="100px" width="100%;">
        </div>
        <div id="quote">
            <small style="">In a gentle way, you can shake the world. M. Ghandi</small>
        </div>
    </div>
    <div class="">
        <h5>ABOUT ME</h5>
        <p>Often quiet, friendly. Committed </p>
    </div>
    <div class="">
        <table>
            <thead>
                <tr>
                    <th class="dislike">DISLIKES</th>
                    <th>LIKES</th>
                </tr>
            </thead>
            <!-- Body of things I like -->
            <tbody>
                <tr>
                    <td class="dislike">
                        <progress value="3" max="5">0%</progress>
                        Site Builders <br> <small>(winx, wordpress etc.)</small>
                    </td>
                    <td class="like">
                        <progress value="5" max="5">0%</progress>
                        Rottweillers <br> <small>(Very goofy animals)</small>
                    </td>
                </tr>
                <tr>
                    <td class="dislike">
                        <progress value="5" max="5">0%</progress>
                        Politics <br><small>Please...</small>
                    </td>
                    <td  class="like">
                        <progress value="5" max="5">0%</progress>
                        Computers <br> <small>My one true love</small>
                    </td>
                </tr>
                <tr>
                    <td class="dislike">
                        <progress value="4" max="5">0%</progress>
                        Multi-tasking <br> <small>(winx, wordpress etc.)</small>
                    </td>
                    <td  class="like">
                        <progress value="3" max="5">0%</progress>
                        Games <br><small>All work and no play...</small>
                    </td>
                </tr>
                <tr>
                    <td class="dislike">
                        <progress value="3" max="5">0%</progress>
                        Site Builders <br> <small>(winx, wordpress etc.)</small>
                    </td>
                    <td  class="like">
                        <progress value="4" max="5">0%</progress>
                        Cycling <br><small>A chance to clear my head</small>
                    </td>
                </tr>
                <tr>
                    <td class="dislike">
                        <progress value="3" max="5">0%</progress>
                        Site Builders <br> <small>(winx, wordpress etc.)</small>
                    </td>
                    <td  class="like">
                        <progress value="1" max="5">0%</progress>
                        Myself <br><small>Sometimes I love myself</small>
                    </td>
                </tr>
            </tbody>

            <!-- <thead>
                <tr>
                    <th></th>
                    <th>DISKLIKES</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><progress value="5" max="5" class="dislike">0%</progress> </td>
                    <td>Politics <br><small>Please...</small></td>
                </tr>
                <tr>
                    <td><progress value="3" max="5" class="dislike">0%</progress> </td>
                    <td>Site Builders <br> <small>(winx, wordpress etc.)</small> </td>
                </tr>
                <tr>
                    <td><progress value="4" max="5" class="dislike">0%</progress> </td>
                    <td>Multi-tasking <br> <small>(winx, wordpress etc.)</small> </td>
                </tr>
            </tbody> -->
        </table>
    </div>
</section>


{{#section "stylesheet"}}
<link rel="stylesheet" href="/css/about-me.css">
{{/section}}
