<section class="col-12">
    <div class="col-3" id="white-space">
    </div>
    <div class="col-5" id="header">
        <div id="picture">
            <img src="/assets/images/myAvatar.svg" height="100px" width="100%;">
        </div>
    </div>
    <div class="col-3" id="top">
        <div id="skills">
            <h5>Skills</h5>
            <table>
                <tbody>
                    <tr>
                        <td>
                            Front-end
                            <br>
                            <small>HTML, CSS3, JavaScript, JQuery</small>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Back-end
                            <br>
                            <small>
                                NodeJS, Express, MongoDB, PostgreSQL
                            </small>
                            <p>
                                <small>
                                    My bread and peanut butter is <strong>NodeJS</strong>
                                    and it's associated stack (Express & MongoDB).
                                    I am comfortable using NodeJS for various types of projects:
                                    as seen on my projects page.
                                </small>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-5" id="center">
        <h5>About Me</h5>
        <p>
            I design, develop and operate websites. I take my work very personally,
            always going above and beyond, to exceed expectations.
            I value honest and clear clients, I will challenge your decisions if
            necessary and admit whenever I'm wrong.
        </p>
        <p>
            I don't like being pressured into doing rush jobs or cutting corners,
            I love what I do and like to take my time <strong>understanding</strong>
            your project's <strong>needs</strong>.
            Doing this allows me to plan the design and functionality around your customer's
            preferences, and as a result I can create <strong>clean</strong>, <strong>relevant</strong>
            and <strong>engaging</strong> websites.
        </p>
    </div>

    <div class="col-3" id="social">
        <h5>Social</h5>
        <table id="social-links">
            <tbody>
                <tr>
                    <td>
                        <a href="https://github.com/hellosandra" target="_blank">
                            <i class="zmdi zmdi-hc-lg zmdi-github-box"></i>
                        </a>
                    </td>
                    <td>
                        <a href="https://twitter.com/sandraNtsoele" target="_blank">
                            <i class="zmdi zmdi-hc-lg zmdi-twitter-box"></i>
                        </a>
                    </td>
                    <td>
                        <a href="mailto:sandrantsoele@protonmail.com?Subject=Hello%20Sandra">
                            <i class="zmdi zmdi-hc-lg zmdi-email-open"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-3" id="bottom">
        <h5>Dislikes and Likes</h5>
        <table>
            <tbody>
                <tr>
                    <td>
                        Likes
                        <br>
                        <small>Dogs, Computers, </small>
                    </td>
                </tr>
                <tr>
                    <td>
                        Dislikes
                        <br>
                        <small>Multi-tasking, Prate, Politics, Site Builders</small>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


{{#section "stylesheet"}}
<link rel="stylesheet" href="/css/about-me.css">
{{/section}}
