<section class="col-12">
    <div class="row main-row">
        <div id="welcome-note">
            <h1 style="margin:0;">Sandra Ntso&ecirc;le</h1>
            <small>Website developer, based in Sedibeng.</small>
            <p>
                Combining a passion for business and love for design to
                create a meaningful online experience for customers.
            </p>
            <button class="action-button" id="link-portfolio">See My Work</button>
            <button class="action-button" id="link-quote">Get A Quote</button>
        </div>
    </div>

    <div class="row">
        <div class="project-block pb-one" >
            <h3><a href="">BraaiMe</a></h3>
            <p>
                An Uber for grills! This website allows people to borrow braai-stands from other people.
            </p>
            <button type="button" class="action-button">View Project <i class="zmdi zmdi-arrow-right"></i></button>
        </div>
        <div class="project-block pb-two">
            <h3><a href="">Preguntas</a></h3>
            <p>
                A place to gain and share knowledge. A platform for asking questions and connecting with people.
            </p>
            <button type="button" class="action-button">View Project <i class="zmdi zmdi-arrow-right"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="project-block pb-three">
            <h3><a href="">FastFood Guru</a></h3>
            <p>
                A source for fast food restaurant reviews.
            </p>
            <button type="button" class="action-button">View Project <i class="zmdi zmdi-arrow-right"></i></button>
        </div>
        <div class="project-block pb-four">
            <h3><a href="">FastFood Guru</a></h3>
            <p>
                A source for fast food restaurant reviews.
            </p>
            <button type="button" class="action-button">View Project <i class="zmdi zmdi-arrow-right"></i></button>
        </div>
        <div class="project-block pb-five">
            <h3><a href="">FastFood Guru</a></h3>
            <p>
                A source for fast food restaurant reviews.
            </p>
            <button type="button" class="action-button">View Project <i class="zmdi zmdi-arrow-right"></i></button>
        </div>
    </div>

    <div class="row">
        <div id="contact-info-container">
            <h1 style="margin: 0">Say hello</h1>
            <p>
                <a href="tel:0786045496">078 604 5496</a>
            </p>
            <p>
                <a href="mailto:sandrantsoele@protonmail.com">sandrantsoele@protonmail.com</a>
            </p>
        </div>
    </div>
</section>
