<section class="col-12">
    <div class="row main-row">

        <div id="welcome-note">
            <h1 style="margin:0;">Sandra Ntso&ecirc;le</h1>
            <small>Website developer, based in Sedibeng.</small>
            <p>
                Just a regular joe, using my passion for programming and design
                to create websites for people. I will go out of my way to meet and/or
                exceed your expectations, because I love what I do, and I do it
                with one goal in mind: <strong>"create clean and effective websites"</strong>.
            </p>
            <p>
                So feel free to check out my work or get in touch
                if you want to work with me.
            </p>
            <p>
                <small><a href="mailto:sandrantsoele@pm.me" style="border-bottom: 1px solid">sandrantsoele@pm.me</a></small>
                |
                <small><a href="tel:0786045496" style="border-bottom: 1px solid">078 604 5496</a></small>
            </p>
            <div class="row">
                <a href="/projects" class="button action-button" id="link-portfolio">See My Work</a>
                <a class="button action-button" id="get-in-touch">
                  Get In Touch
                </a>
            </div>
        </div>

        <form action="/get-in-touch" method="post" id="contact-form">
            <div class="form-row form-header">
                <h3>Get In Touch</h3>
                <div class="">
                    <button id="close-contact-form" type="button" class="zmdi zmdi-close"></button>
                </div>
            </div>
            <div class="form-row">
                <input type="text" name="firstName" placeholder="First Name" autofocus>
                <input type="text" name="email" placeholder="Email Address">
            </div>
            <div class="form-row">
                <textarea name="message" rows="5" placeholder="Message" maxlength="255"></textarea>
            </div>
            <div class="form-row">
                <input type="submit" class="action-button" value="Submit">
            </div>
        </form>

    </div>
</section>

{{#section "script"}}
<script src="/js/home.js" charset="utf-8"></script>
{{/section}}
