<section class="col-12">
    <div id="welcome-note">
        <h1 style="margin:0;">Sandra Ntso&ecirc;le</h1>
        <small>Website developer, based in Sedibeng.</small>
        <p>
            Combining a passion for business and love for design to
            create a meaningful online experience for customers.
        </p>
        <button class="action-button" id="link-portfolio">See My Work</button>
        <button class="action-button" id="link-quote">Get A Quote</button>

        <div id="social-media-icons">
            <ul>
                <li>
                    <a href="https://github.com/hellosandra" id="github">
                        <i class="zmdi zmdi-hc-2x zmdi-github"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/sandraNtsoele" id="twitter">
                        <i class="zmdi zmdi-hc-2x zmdi-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <div id="contact-info-container">
        <h1 style="margin: 0">Say hello</h1>
        <p>078 604 5496</p>
        <p>sandrantsoele@protonmail.com</p>
    </div>
</section>
