<section class="col-12 portfolio-section">
    <div class="col project-collection">
        <div class="">
            <h3><a href="">Preguntas</a></h3>
            <p>
                A place to gain and share knowledge. A platform for asking
                questions and connecting with people.
            </p>
            <button type="button" class="action-button">
              View Project <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
        <div class="">
            <h3><a href="">Modelo</a></h3>
            <p>
                Stay super organized and get things done. Modelo helps
                you keep track of all the things you need to do, from grocery
                shopping all the way up to big work projects.
            </p>
            <button type="button" class="action-button">
              View Project
              <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
        <div class="">
            <h3><a href="">Modelo</a></h3>
            <p>
                Stay super organized and get things done. Modelo helps
                you keep track of all the things you need to do, from grocery
                shopping all the way up to big work projects.
            </p>
            <button type="button" class="action-button">
              View Project
              <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </div>
    </div>
</section>

{{#section "stylesheet"}}
<link rel="stylesheet" href="/css/portfolio.css">
{{/section}}
