@font-face {
    font-family             : "Crunchy";
    src                     : url("/assets/fonts/Crunchy.ttf");
}

@font-face {
    font-family             : "Grotesk Regular";
    src                     : url("/assets/fonts/HKGrotesk-Regular.otf");
}

@font-face {
    font-family             : "Grotesk Medium";
    src                     : url("/assets/fonts/HKGrotesk-Medium.otf");
}

@font-face {
    font-family             : "Grotesk Bold";
    src                     : url("/assets/fonts/HKGrotesk-Bold.otf")
}

.col {
    display                 : flex;
    flex-direction          : column;
}

.col-1 {
    width                   : 8.3333% !important;
}

.col-2 {
    width                   : 16.6666% !important;
}

.col-3 {
    width                   : 25% !important;
}

.col-4 {
    width                   : 33.3332% !important;
}

.col-5 {
    width                   : 41.6653% !important;
}

.col-6 {
    width                   : 50% !important;
}

.col-7 {
    width                   : 58.3328% !important;
}

.col-8 {
    width                   : 66.6661% !important;
}

.col-9 {
    width                   : 75% !important;
}

.col-10 {
    width                   : 83.3327% !important;
}

.col-11 {
    width                   : 91.6667% !important;
}

.col-12 {
    width                   : 100% !important;
}

html, body, main{
    height                  : 100%;
    width                   : 100%;
}

body {
    margin                  : 0;
    font-family             : "Grotesk Regular";
}

nav {
    display                 : flex;
    flex-direction          : column;
}

nav > div {
    background-color        : #f5f5f5;
}

a {
    text-decoration         : none;
    color                   : inherit;
    cursor                  : pointer;
}

.logo {
    font-size               : xx-large;
    font-family             : "Crunchy";
}

#menu-links {
    display                 : none;
}

#menu-links > div {
    display                 : flex;
    flex-direction          : column;
}

#menu-links > div > a {
    padding                 : 10px 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family             : "Grotesk Medium";
}

#menu-icon {
    border                  : 0;
}

button, a.button {
    background-color        : #ff4500;
    color                   : #fff;
    cursor                  : pointer;
    font-size               : small;
}

a.button {
    margin-right            : 5px;
}

.action-button {
    text-transform          : uppercase;
    font-family             : "Grotesk Bold";
    border                  : 2px solid #ff4500;
}

#values-block {
    background-color        : #ff4500;
    color                   : #fff;
}

main > section {
    display                 : flex;
    flex-wrap               : wrap;
    background-size         : cover;
    overflow                : auto;
}

#bg-image {
    display                 : flex;
    width                   : 100%;
    height                  : inherit;
}

.main-row {
    background-color        : #000;
    filter                  : opacity(0.7);
}

#welcome-note {
    color                   : #fff;
}

ul {
    list-style-type         : none;
    padding                 : 0;
}

#link-portfolio {
    background-color        : #000;
}

#contact-info-container a {
    color                   : inherit;
    border-bottom           : 1px solid;
}

.row {
    display                 : flex;
    width                   : 100%;
}

.project-block {
    position                : relative;
}

.project-block > h3 {
    border-bottom           : 1px solid;
}

.project-block .action-button {
    position                : absolute;
    bottom                  : 20px;
}

.row button {
    margin                  : 0 auto;
}

form {
    display                 : none;
}

.form-row {
    display                 : flex;
}

.form-header {
    margin                  : 5px;
    display                 : flex;
    flex-direction          : row !important;
}

.form-header > div {
    background-color        : #ff4500;
    color                   : #fff;
}


.form-header > h3 {
    margin                  : 0;
}

#close-contact-form {
    border                  : 0;
}

input {
    padding                 : 10px;
    font-family             : inherit;
    border                  : 0;
    border-bottom           : 2px solid #ff4500;
    margin                  : 5px;
}

textarea {
    border                  : 0;
    font-family             : inherit;
    margin                  : 5px;
    padding                 : 10px;
    background-color        : #fff;
}

input[type="submit"] {
    cursor                  : pointer;
    background-color        : #ff4500;
    color                   : #fff;
}

@media (min-width: 100px) {
    #logo-container {
        padding                 : 5px 0;
    }

    .logo {
        padding                 : 5px 20px;
    }

    section {
        height                  : inherit;
    }

    button, a.button {
        padding                 : 10px 15px;
    }

    #social-media-icons {
        margin                  : 50px 0;
    }

    #social-media-icons a {
        display                 : inline-block;
        padding                 : 5px;
    }

    #social-media-icons #github {
        background-color        : #24292e;
        color                   : #fff;
    }

    #social-media-icons #twitter {
        background-color        : #1da1f2;
        color                   : #fff;
    }

    #social-media-icons #mail {
        background-color        : #9397cd;
        color                   : #fff;
    }

    #contact-info-container {
        display                 : none;
    }

    #welcome-note {
        display                 : flex;
        flex-direction          : column;
    }

    #bg-image {
        background              : url("/assets/images/face-mobile.jpg") no-repeat;
        background-size         : cover;
    }

    .project-row {
        display                 : none;
    }

    .main-row {
        padding                 : 150px 20px;
    }


    form {
        width                   : 100%;
    }

    .form-row {
        flex-direction          : column;
    }

    .form-header > div {
        margin                  : auto 0 auto auto;
    }

    .form-header i {
        margin                  : auto 0 auto auto;
    }
}

@media (min-width: 700px) {
    body {
        overflow                : auto;
    }

    #menu-icon {
        display                 : none;
    }

    #logo-container {
        padding                 : 10px 0;
    }

    #bg-image{
        background              : url("/assets/images/face-gray.jpg") no-repeat;
        background-size         : cover;
        display                 : flex;
        margin                  : 0;
    }

    .main-row {
        padding                 : 0;
    }

    .project-row, #contact-info-container {
        display                 : flex;
    }

    #welcome-note {
        width                   : 60%;
        padding                 : 70px 20px;
    }

    .project-block {
        padding                 : 20px;
        min-height              : 200px;
    }

    .project-block > p {
        height                  : 80px;
        overflow                : hidden;
    }

    .col-9Plus {
        width                   : 80.7%;
    }

    #values-container {
        padding                 : 20px;
    }

    #contact-info-container {
        display                 : block;
        padding                 : 20px;
    }

    form {
        padding                 : 20px 40px;
        width                   : 60%;
    }
}

@media(min-width: 1000px) {
    #logo-container {
        padding                 : 10px 30px;
    }

    #bg-image {
        height                  : 60%;
    }

    #welcome-note {
        padding                 : 50px;
    }

    .project-block {
        padding                 : 20px 50px;
    }

    .project-row > .col-4 {
        width                   : 35.7% !important;
    }

    form {
        width                   : 40%;
        padding                 : 50px;
    }

    #contact-info-container {
        padding                 : 20px 50px;
    }

    #values-container {
        padding                 : 20px 50px;
    }
}
